body{
    text-align:center;
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
}

h1{
    margin-top:20px;
}

.btn-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;

    width:min(90vw, 500px);
    margin:40px auto;
}

.btn{
    width:100%;
    aspect-ratio: 1/1;   /* perfect square */
    border-radius:20%;
    border:8px solid black;
}

/* colors */
.red{ background-color: rgb(219,120,120); }
.green{ background-color: rgb(148,249,148); }
.yellow{ background-color: rgb(123,123,87); }
.purple{ background-color: rgb(210,113,210); }

/* flash animation */
.flash{
    background-color:white !important;
}
